/*Mobile*/
@media only screen and (max-width: 576px) {

	/*Home*/
	.home-sec-1 {
		margin-top: 25px;
	}

	#img-home {
		margin-bottom: 1.5em;
	}



	/*About*/
	.about-header {
		text-align: center;
	}

	#img-about {
		margin-bottom: 1.5em;
	}

	.custom-vh-80 {
		min-height: 90vh;
	}

	.aboutsite {
		margin-bottom: 25px;
	}

	.about-header{
		margin-top: 25px;
	}

	.about-market {
		margin-top: 25px;
	}

	.aboutimg{
		margin-bottom: 25px;
	}

	.guidecard{
		max-width: 100%;
		margin-bottom: 25px;
	}

	.guide-container{
		padding-top:25px;
		padding-bottom: 25px;
	}

	#aboutseedsow{
		margin-bottom: 25px;
	}




	/*Crops*/

	/*Header Crop*/
	.h1-crop{
		font-weight: 300;
		line-height: 1.2;
	}

	/*Catalogue Crop*/
	.catalogue-container{
		padding: 30px;
		margin: 0px 20px 30px 20px;
	}

	.product{
		max-width: 100%;
		margin-bottom: 30px;
	}

	/*Sign up*/

	/*Disclaimer*/
	.disclaimer {
		padding: 25px 15px;
	}

}

@media only screen and (min-width: 576px) and (max-width: 767px) {
	
	.about-header {
		text-align: center;
	}

	#img-about {
		margin-bottom: 1.5em;
	}

	.custom-vh-80 {
		height: 90vh;
	}

	.aboutsite {
		margin-top: 25px;
	}

	.about-header{
		margin-top: 25px;
	}

	.about-market {
		margin-top: 25px;
	}

	.disclaimer {
		padding: 25px 15px;
	}

	/*Header Crop*/
	.h1-crop{
		font-weight: 300;
		line-height: 1.2;
	}

	/*Catalogue Crop*/
	.catalogue-container{
		padding: 30px;
		margin: 0px 20px 30px 20px;
	}

	.product{
		max-width: 70%;
		margin-bottom: 30px;
	}

/*	.custom-min-vh-80 {
		min-height: 80vh;
	}*/

	.change-to-column {
		flex-direction: column;
	}

	/*Sign up*/

}



/*Tablet*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	/*Navigation sidebar*/
	.navbar-brand{
		margin-right: 0;
	}
	.navbar-custom {
		height: 100%;
		position: fixed;
	}

	/*Crops*/

	/*Header Crop*/
	.h1-crop{
		font-size: 3.5rem;
		font-weight: 300;
		line-height: 1.2;
	}

	p .header-desc{
		font-size: 1.25rem;
		font-weight: 300;
	}

	.catalogue-container{
		padding: 30px;
		margin: 0 15px 0 15px;
	}

	.product{
		margin-bottom: 30px;
	}

	/*Sign up*/

	/*Footer*/
	.disclaimer-container{
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.home-gains .fas{
		font-size: 6em;
	}

	.aboutimg{
		margin-bottom: 25px;
	}


}


/*PC*/
@media only screen and (min-width: 992px) and (max-width: 1999px) {
	
	/*Navigation Sidebar*/
	.navbar-brand{
		margin-right: 0;
	}
	.navbar-custom {
		height: 100%;
		position: fixed;
	}

	/*Crop*/
	/*Header Crop*/
	.h1-crop{
		font-size: 3.5rem;
		font-weight: 300;
		line-height: 1.2;
	}

	p .header-desc{
		font-size: 1.25rem;
		font-weight: 300;
	}

	/*Sign up*/
	/*.signup-border{
		min-height: 50%;
	}*/

	.test{
		height: 100%;
	}

	/*Footer*/

	.disclaimer-details{
		margin-top: 15px;
		margin-bottom: 25px;
	}
}	


@media only screen and (min-width: 1200px){

	/*Navigation Sidebar*/
	.navbar-brand{
		margin-right: 0;
	}
	.navbar-custom {
		height: 100%;
		position: fixed;
	}
	/*Header Crop*/
	.h1-crop{
		font-size: 4.5rem;
		font-weight: 300;
		line-height: 1.2;
	}

	p .header-desc{
		font-size: 1.25rem;
		font-weight: 300;
	}

	/*Sign up*/
	form{
		min-width: 5em;
	}

	form h6{
		margin-bottom: 1em;
	}

	/*Contact us*/
	#InputMessage{
		min-height: 200px;
		max-height: 200px;
	}

	.location-addr{
		margin-top: 2em;
	}

	/*Footer*/

	.disclaimer-details{
		margin-top: 15px;
		margin-bottom: 25px;
	}



}

