
/*Navigation bar*/
.navbar{
	background-color: #90aa75;
}

.nav-item a:link{
	color: black;
}

.nav-item a:hover{
	color: white;
	text-decoration: none;
}



.img-about-market {
	border-radius: 50%;
	width: 300px;
	height: auto;
}



/*footer*/
footer{
	color: white;
}

footer a{
	font-size: 1.5em;
	color: white;
	margin-right: .5em;

}

.disclamer{
	background-color: #897862;
	font-size: .75em;
}

.disclamer-details h5{
	font-family: 'Oswald', sans-serif;
}

.copyright{
	background-color: #5b433a;
	font-family: 'Oswald', sans-serif;
}

.contact-details p{
	margin: 0;
}


html, body{
	/*height: 100%;
	width: 100%;
*/}

main{
	/*height: 100%;*/
	/*width: 100%;*/
	/*padding: 0;
	margin: 0;*/
}

/*section{
	height: 100%;
	width: 100%;
	margin: 0;
	padding-right: 0;
	padding-left: 0;
}*/

section.right-section{
	/*margin-left: auto;*/
}
/*media tag to specify in tablet*/


/*.row-section{
	position: relative;
	}*/

	/*Sidebar*/
	nav{
		/*height: 100%;
		padding-left: 0;
		padding-right: 0;
		background-color: #90aa75;*/
	/*position: absolute;
	top: 0;
	position: sticky;*/
}




/*About Site*/

header{
	background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(116, 146, 58, 0.73)),
url('../images/farmtractor.jpeg');
	background-size: cover;
	color: white;
}

.aboutsite{
	/*height: 100%;
	width: 100%;*/
}

.aboutdetails{
	/*text-align: center;*/
	/*padding: 10%;*/
}

#img-about{
	border-radius: 50%;
	width: 300px;
	height: auto;
}


/*Guide*/
.guide-invest{
	background-color: #e6e2c6;
}

.card-guide{
	background-color: #BEC46A;
}





/*Market*/
.about-market{
	/*height: 100%;*/
}
/*media*/

#img-about{
	/*margin-bottom: 1em;*/
}

.custom-vh-70 {
	min-height: 70vh;
}

.custom-vh-80{
	min-height: 80vh;
}

.custom-vh-30{
	min-height: 30vh;
}

.custom-vh-10{
	min-height: 10vh;
}

@media only screen and (min-width: 961px){
	.navbar-custom {
		height: 100%;
		position: fixed;
	}
}

@media only screen and (min-width: 401px) and (max-width: 960px){
	.navbar-custom {
		height: 100%;
		position: fixed;
	}
}




/*<!-- Side Bar -->
		<div class="container-fluid sidenavibar">
			<div class="col-md-3 sidebar">
				<nav class="navbar navbar-light bg-dark">
					<!-- <a class="navbar-brand" href="#"><img src="" alt="" class="d-inline-block align-top">Seed Sown</a> -->

					<!-- <div class="collapse navbar-collapse" id="navbarNav"> -->
						
					<!-- </div> -->
				</nav>
			</div>
		</div>
		<!-- End of Side Bar -->*/

		/*Nav bar*/

/*.sidenavibar{
	height: 100%;
	padding: 0;
}


.navbar{
	background-color: white;
	opacity: 0.5;
}
.nav-link{
	color: black;
}

.firstSec{
	background-image: url(../images/farming.jpg);
	background-image: url(../images/farming.jpg), linear-gradient(#eb01a5, #d13531);
	opacity: .6;
	height: inherit;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 5em;
}


.secTwo{
	margin-bottom: 5em;
	height: inherit;

}

.secThree{
	margin-bottom: 5em;
	height: inherit;

}

.sec2-image1{
	border: 4px solid red;
	border-radius: 50%;
	object-fit: cover;
	height: 60%;
	width: 60%;
	top: 5;
}

.sec2-image2{
	border: 4px solid red;
	border-radius: 50%;
	object-fit: cover;
	height: 50%;
	width: 50%;
}

.sec2-image3{
	border: 4px solid red;
	border-radius: 50%;
	object-fit: cover;
	height: 40%;
	width: 40%;
}
*/




