*{
	font-family: 'Livvic', sans-serif;
	/*font-family: 'Oswald';*/
}

.custom-vh-70 {
	min-height: 70vh;
}

.custom-vh-80{
	min-height: 80vh;
}

.custom-vh-30{
	min-height: 30vh;
}

.custom-vh-20{
	min-height: 20vh;
}

.custom-vh-10{
	min-height: 10vh;
}

/*Navigation bar*/
.navbar{
	background-color: #90aa75;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-item a:link{
	color: black;
	background-color: #90aa75;
}

.nav-item a:hover{
	color: white !important;
	text-decoration: none;
	background-color: #72855f;
}

.nav-item a:active{
	color: black;
	background-color: #738a5c;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar button{
	background-color: #e4d496;
}



/*Home*/

.jumbotron{
	background-color: transparent;
}

#img-home{
	border-radius: 20%;
	width: 400px;
	height: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 
/*Media container*/

.home-sec-2{
	background-color: white;
}

.home-sec-2 figure img {
	-webkit-filter: grayscale(0) blur(0);
	filter: grayscale(0) blur(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.transition-class:hover img {
	-webkit-filter: grayscale(100%) blur(3px);
	filter: grayscale(100%) blur(3px);
	transition: 0.5s ease-in-out;
}	

.transition-class:hover .overlay {
	background-color: rgba(255, 255, 255, 0.3);
	transition: 0.5s ease-in-out;
} 

.transition-class:hover .overlay h1,
.transition-class:hover .overlay h3 {
	opacity: 1;
	transition: 0.5s ease-in-out;
}

figure.margin-zero {
	margin: 0px;
}

.overlay {
	top: 0px;
	left: 0px;
	border-radius: 20%;
	width: 400px;
	height: auto;
	z-index: 999;
}

.overlay h1, 
.overlay h3 {
	opacity: 0;
	
}

.column div span {
	position: absolute;
	bottom: -20px;
	left: 0;
	z-index: -1;
	display: block;
	width: 300px;
	margin: 0;
	padding: 0;
	color: #444;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}

.home-details{
	background-color: white;
}

.home-details-2{
	background-color: #e4d496;
}

.img-hoverlinks{
	color: white;
}

.home-gains .fas{
	font-size: 12em;
}

.flex-even {
	flex: 1;
}

.benefitForYou i{
	color: #5b433a;

}


/*About*/

.img-about-market {
	border-radius: 50%;
	width: 300px;
	height: auto;
}

#img-about{
	border-radius: 50%;
	width: 300px;
	height: auto;
}

.aboutimg{
	border-radius: 10px 90px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 400px;
	height: auto;
}


/*header*/
#contactseedsow{
	background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(116, 146, 58, 0.73)),
	url('../images/connect-farmers.jpg');
	background-size: cover;
	color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#cropseedsow{
	background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(116, 146, 58, 0.73)),
	url('../images/crateveggies.jpg');
	background-size: cover;
	color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#homeseedsow{
	background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(116, 146, 58, 0.73)),
	url('../images/farmtractor.jpeg');
	background-size: cover;
	color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#aboutseedsow{
	background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(116, 146, 58, 0.73)),
	url('../images/wheatfield.jpg');
	background-size: cover;
	color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}





/*Guide*/
.guide-invest{
	background-color: #e6e2c6;
}

.card-guide{
	background-color: #BEC46A;
}


/*Crops*/
.catalogue-container{
	border-radius: 5%;
	background-color: #e4d496;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product-img{
	border-radius: 10% 10% 0 0;
}

.card{
	background-color: transparent;
	border: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product{
	border-radius: 10% 10% 10% 10%;
}

.card-product{
	background-color: #BEC46A;
	border-radius: 0 0 10% 10%;
}

/*Contact us*/
.sitemap{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.sitemap iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.submitMessage{
	color: white;
	background-color: #5b433a;
}

.submitMessage:hover{
	color: white !important;
	text-decoration: none;
	background-color: #806860;
}


/*Sign-up*/
.signup-border{
	border-radius: 5%;
	background-color: #e4d496;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.btn{
	background-color: #5b433a;
	color: white;
}

.btn:hover{
	background-color: #87675b;
	color: grey !important;
}

.btn:active{
	background-color: #5b433a;
	color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.signup{
	font-weight: bold;
}

.descsignup{
	font-weight: bold;
}

.formcontainer{
	background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(116, 146, 58, 0.73)),
	url('../images/farmfield.jpg');
	background-size: cover;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*footer*/
footer{
	color: white;
}

footer a{
	font-size: 1.5em;
	color: white;
	margin-right: .5em;

}

footer .fab{
	transition: .5s ease-in-out;
}

footer .fab:hover{
	color: #5b433a;
}

.disclaimer{
	background-color: #897862;
	font-size: .75em;
}

.disclaimer-details h5{
	font-family: 'Oswald', sans-serif;
}

.copyright{
	background-color: #5b433a;
	font-family: 'Oswald', sans-serif;
}

.contact-details p{
	margin: 0;
}


